# Milestone #2: Final Project
## Zachary Kruse
### 4/22/2025

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configure visual settings
%matplotlib inline
sns.set(style="whitegrid")

In [16]:
# Load the dataset
df = pd.read_csv('listings.csv')

# Display the first few rows
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,36121.0,https://www.airbnb.com/rooms/36121,2.025030e+13,3/3/2025,city scrape,Lg Rm in Historic Prospect Heights,Cozy space share in the heart of a great neigh...,Full of tree-lined streets and beautiful brown...,https://a0.muscache.com/pictures/8776354/35b32...,62165,...,5.00,5.00,5.00,NaN,f,1,0,1,0,0.05
1,36647.0,https://www.airbnb.com/rooms/36647,2.025030e+13,3/3/2025,city scrape,"1 Bedroom & your own Bathroom, Elevator Apartment",Private bedroom with your own bathroom in a 2 ...,"Manhattan, SE corner of 2nd Ave/ E. 110th street",https://a0.muscache.com/pictures/miso/Hosting-...,157798,...,4.90,4.38,4.71,NaN,f,1,0,1,0,0.58
2,38663.0,https://www.airbnb.com/rooms/38663,2.025030e+13,3/2/2025,city scrape,Luxury Brownstone in Boerum Hill,"Beautiful, large home in great hipster neighbo...","diverse, lively, hip, cool: loaded with restau...",https://a0.muscache.com/pictures/miso/Hosting-...,165789,...,4.88,4.86,4.62,OSE-STRREG-0001784,f,1,0,1,0,0.28
3,38833.0,https://www.airbnb.com/rooms/38833,2.025030e+13,3/3/2025,city scrape,Spectacular West Harlem Garden Apt,This is a very large and unique space. An inc...,West Harlem is now packed with great restauran...,https://a0.muscache.com/pictures/7554f9e5-4ab0...,166532,...,4.96,4.79,4.82,OSE-STRREG-0000476,f,1,1,0,0,1.36
4,39282.0,https://www.airbnb.com/rooms/39282,2.025030e+13,3/2/2025,city scrape,“Work-from-home” from OUR home.,*Monthly Discount will automatically apply <br...,THE NEIGHBORHOOD:<br />Our apartment is locate...,https://a0.muscache.com/pictures/ef8f43ad-d967...,168525,...,4.88,4.85,4.78,OSE-STRREG-0001150,f,2,0,2,0,1.54

In [17]:
# Check the dimensions of the dataset
print("Shape of the dataset:", df.shape)

Shape of the dataset: (37434, 79)

In [18]:
# Display the column names
print("\nColumn names:")
print(df.columns.tolist())

Column names:
['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy', 'number_of_reviews_ly', 'estimated_occupancy_l365d', 'estimated_revenue_l365d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

In [19]:

# Data types of each column
print("\nData types:")
print(df.dtypes)

Data types:
id                                              float64
listing_url                                      object
scrape_id                                       float64
last_scraped                                     object
source                                           object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 79, dtype: object

In [20]:
# Display basic statistics for numeric columns
df.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,3.743400e+04,3.743400e+04,3.743400e+04,37396.000000,37396.000000,37434.000000,37434.000000,37434.000000,22503.000000,31523.000000,...,25646.000000,25632.000000,25641.000000,25629.000000,25630.000000,37434.000000,37434.000000,37434.000000,37434.000000,25647.000000
mean,4.277047e+17,2.025030e+13,1.726825e+08,270.079420,351.462349,40.728868,-73.947339,2.766576,1.191308,1.374140,...,4.656908,4.833810,4.824749,4.743262,4.640219,69.169739,48.619704,18.809425,0.012956,0.832412
std,5.060226e+17,0.000000e+00,1.892181e+08,1034.959329,1234.911395,0.056220,0.054872,1.908986,0.554629,0.925829,...,0.502644,0.379561,0.412215,0.394258,0.493066,225.817395,211.988897,86.388280,0.160868,1.853842
min,2.595000e+03,2.025030e+13,1.678000e+03,1.000000,1.000000,40.500366,-74.251907,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,2.129623e+07,2.025030e+13,1.777536e+07,1.000000,1.000000,40.688670,-73.983459,2.000000,1.000000,1.000000,...,4.530000,4.820000,4.820000,4.650000,4.530000,1.000000,0.000000,0.000000,0.000000,0.080000
50%,5.017925e+07,2.025030e+13,8.832629e+07,2.000000,3.000000,40.726350,-73.955085,2.000000,1.000000,1.000000,...,4.810000,4.950000,4.960000,4.850000,4.760000,2.000000,1.000000,0.000000,0.000000,0.270000
75%,9.121962e+17,2.025030e+13,3.069967e+08,10.000000,14.000000,40.762480,-73.928438,4.000000,1.000000,2.000000,...,5.000000,5.000000,5.000000,5.000000,4.940000,8.000000,2.000000,2.000000,0.000000,0.970000
max,1.366910e+18,2.025030e+13,6.814365e+08,5255.000000,9055.000000,40.911390,-73.713650,16.000000,15.500000,15.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,1194.000000,1194.000000,616.000000,4.000000,117.980000

In [21]:
# Display basic statistics for object (categorical) columns
df.describe(include=['object'])

,listing_url,last_scraped,source,name,description,neighborhood_overview,picture_url,host_url,host_name,host_since,...,room_type,bathrooms_text,amenities,price,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
count,37434,37434,37434,37432,36441,20224,37433,37434,37396,37396,...,37434,37404,37434,22308,32057,37434,25647,25647,5369,37434
unique,37434,2,2,35726,31003,14933,36629,22284,8476,5142,...,4,31,30306,1022,2,2,4337,3248,2011,2
top,https://www.airbnb.com/rooms/36121,3/3/2025,city scrape,Water View King Bed Hotel Room,Keep it simple at this peaceful and centrally-...,This furnished apartment is located in Midtown...,https://a0.muscache.com/pictures/6998e77e-4564...,https://www.airbnb.com/users/show/107434423,Blueground,12/16/2016,...,Entire home/apt,1 bath,"[""Air conditioning"", ""Carbon monoxide alarm"", ...",$150.00,t,3/3/2025,1/1/2023,2/16/2025,Exempt,f
freq,1,19480,22509,30,94,113,35,1194,1194,1200,...,20175,19284,253,376,31773,19480,65,234,2814,29853

In [22]:
# Display sample rows
df.sample(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
32046,1.109440e+18,https://www.airbnb.com/rooms/1109440883056083759,2.025030e+13,3/2/2025,city scrape,Close to Central Park 2,This is a large studio apartment. Centrally lo...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,566262732,...,5.00,5.00,3.00,NaN,f,8,8,0,0,0.21
6553,1.332825e+07,https://www.airbnb.com/rooms/13328254,2.025030e+13,3/3/2025,previous scrape,"Simple, Spacious Room in LES/Two Bridges Apt",Spacious apartment lay-out in a fifth floor wa...,Lively and expanding Lower East Side neighborh...,https://a0.muscache.com/pictures/76478ee1-915f...,20932025,...,5.00,5.00,5.00,NaN,f,1,0,1,0,0.06
32218,1.121100e+18,https://www.airbnb.com/rooms/1121098794146870631,2.025030e+13,3/2/2025,city scrape,626 10th ave-3bed 1 bath,You'll have a great time at this comfortable p...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,51501835,...,5.00,5.00,5.00,NaN,f,176,176,0,0,0.11
24029,7.275230e+17,https://www.airbnb.com/rooms/727523095270280757,2.025030e+13,3/2/2025,previous scrape,"Lovely, cozy apartment in amenities building",Take it easy at this unique and tranquil getaw...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,15805343,...,5.00,4.88,4.88,NaN,f,2,1,1,0,0.29
18414,4.931963e+07,https://www.airbnb.com/rooms/49319626,2.025030e+13,3/3/2025,city scrape,Large room 20 min to Manhattan,Enjoy of this quiet and central accommodation ...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,395015552,...,4.38,4.83,4.50,NaN,f,3,0,3,0,0.63

In [23]:

# Display the last few rows
df.tail()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
37429,1.366330e+18,https://www.airbnb.com/rooms/1366333532374850165,2.025030e+13,3/2/2025,city scrape,Beautiful 1-Bed Apt in Harlem!,Welcome to your temporary home in the vibrant ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,40019013,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
37430,1.366720e+18,https://www.airbnb.com/rooms/1366717321390111215,2.025030e+13,3/2/2025,city scrape,Private Room w/ Ensuite Bath H,Stylish Private Rooms w/ En-Suite Baths in Bro...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,483056418,...,NaN,NaN,NaN,NaN,f,24,0,24,0,NaN
37431,1.366720e+18,https://www.airbnb.com/rooms/1366721904709517353,2.025030e+13,3/2/2025,city scrape,2 Bedroom on East Side,Located in the Murray Hill area and occupies a...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,30283594,...,NaN,NaN,NaN,NaN,f,48,48,0,0,NaN
37432,1.366720e+18,https://www.airbnb.com/rooms/1366722692755341871,2.025030e+13,3/2/2025,city scrape,Stylish 2Bd near Bryant Park,Enjoy everything the city has to offer while l...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,407304997,...,NaN,NaN,NaN,NaN,t,25,25,0,0,NaN
37433,1.366720e+18,https://www.airbnb.com/rooms/1366723228243064949,2.025030e+13,3/2/2025,city scrape,Modern Private Room + Bath H,Stylish Private Rooms w/ En-Suite Baths in Bro...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,483056418,...,NaN,NaN,NaN,NaN,f,24,0,24,0,NaN

In [14]:
# Complete summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37434 entries, 0 to 37433
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            37434 non-null  float64
 1   listing_url                                   37434 non-null  object
 2   scrape_id                                     37434 non-null  float64
 3   last_scraped                                  37434 non-null  object
 4   source                                        37434 non-null  object
 5   name                                          37432 non-null  object
 6   description                                   36441 non-null  object
 7   neighborhood_overview                         20224 non-null  object
 8   picture_url                                   37433 non-null  object
 9   host_id                                       37434 non-null  int64
 10  host_url                                      37434 non-null  object
 11  host_name                                     37396 non-null  object
 12  host_since                                    37396 non-null  object
 13  host_location                                 29747 non-null  object
 14  host_about                                    21455 non-null  object
 15  host_response_time                            21286 non-null  object
 16  host_response_rate                            21286 non-null  object
 17  host_acceptance_rate                          22740 non-null  object
 18  host_is_superhost                             36994 non-null  object
 19  host_thumbnail_url                            37396 non-null  object
 20  host_picture_url                              37396 non-null  object
 21  host_neighbourhood                            29718 non-null  object
 22  host_listings_count                           37396 non-null  float64
 23  host_total_listings_count                     37396 non-null  float64
 24  host_verifications                            37396 non-null  object
 25  host_has_profile_pic                          37396 non-null  object
 26  host_identity_verified                        37396 non-null  object
 27  neighbourhood                                 20225 non-null  object
 28  neighbourhood_cleansed                        37434 non-null  object
 29  neighbourhood_group_cleansed                  37434 non-null  object
 30  latitude                                      37434 non-null  float64
 31  longitude                                     37434 non-null  float64
 32  property_type                                 37434 non-null  object
 33  room_type                                     37434 non-null  object
 34  accommodates                                  37434 non-null  int64
 35  bathrooms                                     22503 non-null  float64
 36  bathrooms_text                                37404 non-null  object
 37  bedrooms                                      31523 non-null  float64
 38  beds                                          22352 non-null  float64
 39  amenities                                     37434 non-null  object
 40  price                                         22308 non-null  object
 41  minimum_nights                                37434 non-null  int64
 42  maximum_nights                                37434 non-null  int64
 43  minimum_minimum_nights                        37431 non-null  float64
 44  maximum_minimum_nights                        37431 non-null  float64
 45  minimum_maximum_nights                        37431 non-null  float64
 46  maximum_maximum_nights                        37431 non-null  float64
 47  minimum_nights_avg_ntm                        37431 non-null  float64
 48  maximum_nights_avg_ntm                        37431 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              32057 non-null  object
 51  availability_30                               37434 non-null  int64
 52  availability_60                               37434 non-null  int64
 53  availability_90                               37434 non-null  int64
 54  availability_365                              37434 non-null  int64
 55  calendar_last_scraped                         37434 non-null  object
 56  number_of_reviews                             37434 non-null  int64
 57  number_of_reviews_ltm                         37434 non-null  int64
 58  number_of_reviews_l30d                        37434 non-null  int64
 59  availability_eoy                              37434 non-null  int64
 60  number_of_reviews_ly                          37434 non-null  int64
 61  estimated_occupancy_l365d                     37434 non-null  int64
 62  estimated_revenue_l365d                       22308 non-null  float64
 63  first_review                                  25647 non-null  object
 64  last_review                                   25647 non-null  object
 65  review_scores_rating                          25647 non-null  float64
 66  review_scores_accuracy                        25636 non-null  float64
 67  review_scores_cleanliness                     25646 non-null  float64
 68  review_scores_checkin                         25632 non-null  float64
 69  review_scores_communication                   25641 non-null  float64
 70  review_scores_location                        25629 non-null  float64
 71  review_scores_value                           25630 non-null  float64
 72  license                                       5369 non-null   object
 73  instant_bookable                              37434 non-null  object
 74  calculated_host_listings_count                37434 non-null  int64
 75  calculated_host_listings_count_entire_homes   37434 non-null  int64
 76  calculated_host_listings_count_private_rooms  37434 non-null  int64
 77  calculated_host_listings_count_shared_rooms   37434 non-null  int64
 78  reviews_per_month                             25647 non-null  float64
dtypes: float64(25), int64(18), object(36)
memory usage: 22.6+ MB